*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    text-align: center;
}
h1{
    color: red;
    background-color: #e3f9ff;
    line-height: 5rem;
    text-decoration: underline solid black;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background-color: #3a4452;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 70px;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 50px;
    height: 35px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
    margin: 20px;
    cursor: pointer;
    background: transparent;
    font-size: 20px;
    color: #fff;
}
form .display{
    display: flex;
    justify-content: end;
    margin: 20px 0;
}
form .display input{
    flex: 1;
    text-align: center;
    box-shadow: none;
    font-size: 45px;
}
form input.equal{
    width: 145px;
}
form input.operator{
    color: #33ffd8;
}